header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 20px;
}
header h1{
    font-size: 27.5px;
    margin: 0;
    font-weight: bold;
}
header p{
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
    color: pink;
}
nav {
    background-color: #333;
    padding: 15px ;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color: rgb(66, 66, 124);
    color: black;
}
section{
    width: 100%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section h4{
    color: black;
    font-size: 22px;
    margin-bottom: 15px;
}
section img{
    width: 100%;
    max-width: 720px;
    border-radius: 8px;
    margin-bottom: 15px;
}
section p{
    font-size: 16px;
    color: #333;
    line-height: 18px;
}
@media (max-width: 768px){
    header h1 {
        font-size: 2em;
        }
        
        header p {
        font-size: 1.1em;
        }
        
        nav ul li {
        display: block;
        margin-bottom: 10px;
        }
    section img{
        max-width: 100%;
        height: auto;
    }
    section p{
        font-size: 14px;
    }
}
@media(max-width: 480){
    header h1 {
        font-size: 2em;
        }
        
        header p {
        font-size: 1.1em;
        }
        
        nav ul li {
        display: block;
        margin-bottom: 10px;
        }
    section{
        padding: 15px;
    }
    section h4{
        font-size: 18px;
    }
    section p{
        font-size: 13px;
    }
}
